/* static/css/style.css */
body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    border-bottom: 5px solid #ffc107; /* Detalhe amarelo */
}
main {
    flex-grow: 1;
}